body {
    background-color: #171717;
    color: #FFFFFF;
    font-family: "Calibri";
    display: flex;
    width: 95%;
    height: 100vh;
    justify-content: space-between;
    margin: 0px auto;
}

a {
  color: #FFFFFF;
}

.contact a {
  margin-right: 0.5vw;
}

.container {
  width: 30%;
}

img {
	vertical-align: bottom;
}

.bottom {
	vertical-align: top;
}

.wrapper {
  padding-top: 1.75rem;
	width: 65%;
}

@media screen and (max-width: 768px) {
	body {
		width: 85%;
	}
	
  .container {
    width: 100%;
  }
	
  .wrapper {
    display: none;
  }
	
  .contact {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: start;
    padding-bottom: 3vh;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  img {
    width: 85%;
  }
	
  .wrapper {
    width: 60%;
  }
}
